In [2]:
import pandas as pd
import numpy as np

In [3]:
results = pd.read_csv("resultados/resultados_buenos.csv").iloc[:,1:]

In [4]:
print(results)

     Instance  n_N  n_B   k  wL   Lazy     A4   Init           Gap  \
0           0   10   21   1  50  False   True  False  3.232246e-07
1           0   10   21   1  50  False   True   True  6.773069e-05
2           0   10    2   1  50  False  False  False  2.355825e-05
3           0   10    5   1  50  False  False  False  1.361640e-04
4           0   10   10   1  50  False  False  False  1.943356e-03
..        ...  ...  ...  ..  ..    ...    ...    ...           ...
595         4   80   33  20  50  False  False  False           NaN
596         4   80   67  20  50  False  False  False           NaN
597         4   80   13  20  50  False  False   True           NaN
598         4   80   33  20  50  False  False   True           NaN
599         4   80   67  20  50  False  False   True           NaN

         Runtime  NodeCount      ObjVal  Runtime_h  Runtime_h2    ObjVal_h  \
0       7.657140      438.0  891.585083        NaN         NaN         NaN
1       4.791690      441.0  891.645247   0.030202    0.910485  968.921425
2       6.435400     2029.0  597.495448        NaN         NaN         NaN
3    3600.016272  3061174.0  616.823655        NaN         NaN         NaN
4    3600.048682   420251.0  677.839017        NaN         NaN         NaN
..           ...        ...         ...        ...         ...         ...
595          NaN        NaN         NaN        NaN         NaN         NaN
596          NaN        NaN         NaN        NaN         NaN         NaN
597          NaN        NaN         NaN   0.331884         NaN         NaN
598          NaN        NaN         NaN  94.288737         NaN         NaN
599          NaN        NaN         NaN  67.218784         NaN         NaN

      ObjVal_h2
0           NaN
1    939.987615
2           NaN
3           NaN
4           NaN
..          ...
595         NaN
596         NaN
597         NaN
598         NaN
599         NaN

[600 rows x 16 columns]

In [5]:
results[['Instance', 'n_N', 'n_B', 'k', 'wL']] = results[['Instance', 'n_N', 'n_B', 'k', 'wL']].apply(np.int64)

In [21]:
tabla_comparadora = results.groupby(['n_N', 'A4', 'Init', 'k']).describe()[['Runtime', 'ObjVal', 'Gap', 'Runtime_h', 'Runtime_h2', 'ObjVal_h', 'ObjVal_h2']].round(2).reset_index()

In [22]:
tabla_comparadora.to_excel('resultados/summary_results.xlsx')

In [23]:
tabla_comparadora

   n_N     A4   Init   k Runtime                                               \
                           count     mean      std      min      25%      50%
0   10  False  False   1    30.0   401.07  1086.31     0.80     3.65    23.43
1   10  False  False   2    15.0    46.15    53.97     3.58     9.03    30.31
2   10  False   True   1    30.0   408.98  1088.26     1.45     3.48    14.08
3   10  False   True   2    15.0    50.49    62.70     3.86    12.69    17.80
4   10   True  False   1    10.0     6.16     2.87     2.65     3.64     6.61
5   10   True  False   2     5.0    25.72    12.10     7.34    22.46    26.90
6   10   True   True   1    10.0     4.19     1.28     2.51     2.94     4.94
7   10   True   True   2     5.0    21.99    13.57     9.49     9.93    20.78
8   20  False  False   1    14.0  1140.03  1367.95    53.64   156.85   659.75
9   20  False  False   2    14.0  1027.51  1148.64    81.40   171.50   570.51
10  20  False  False   5    14.0   561.82   573.21    96.05   154.78   359.91
11  20  False   True   1    15.0  1646.74  1572.89    30.73   288.59   641.63
12  20  False   True   2    14.0  1194.91  1318.76   104.55   196.98   555.53
13  20  False   True   5    13.0   749.54   920.32    69.66   154.20   377.21
14  20   True  False   1     5.0    66.27    14.33    42.42    63.81    72.99
15  20   True  False   2     5.0   310.58   150.22   133.77   173.37   347.22
16  20   True  False   5     5.0   151.38    54.03   113.47   124.17   133.54
17  20   True   True   1     5.0    38.96    16.68    19.35    24.13    46.05
18  20   True   True   2     5.0   164.02    33.80   133.27   137.07   165.49
19  20   True   True   5     5.0   124.26    63.12    61.14    85.38    95.25
20  30  False  False   1     9.0  1868.66  1510.16   399.64   535.00  1071.62
21  30  False  False   3     9.0  1591.70  1306.73   341.89   398.23  1090.97
22  30  False  False   7    10.0  1257.01  1111.37   213.80   484.54   907.85
23  30  False   True   1     9.0  1707.16  1497.95   263.43   439.28  1143.56
24  30  False   True   3    10.0  1871.24  1330.05   548.75   689.92  1516.29
25  30  False   True   7    13.0  1721.06  1319.31   120.84   514.39  1385.59
26  30   True  False   1     5.0   324.44   275.53   125.78   137.04   269.76
27  30   True  False   3     5.0  1572.14   922.08  1045.15  1059.15  1234.11
28  30   True  False   7     5.0  1606.17  1252.79   627.45   812.96   908.20
29  30   True   True   1     5.0   181.53    91.60    82.20   107.96   201.10
30  30   True   True   3     5.0   902.58   347.38   546.53   584.55   870.75
31  30   True   True   7     5.0  1197.54   932.69   470.90   561.40   628.57
32  50  False  False   1     1.0  3397.16      NaN  3397.16  3397.16  3397.16
33  50  False  False   5     1.0  2745.91      NaN  2745.91  2745.91  2745.91
34  50  False  False  12     6.0  2783.62   767.64  1646.16  2283.36  2945.60
35  50  False   True   1     0.0      NaN      NaN      NaN      NaN      NaN
36  50  False   True   5     1.0  3600.38      NaN  3600.38  3600.38  3600.38
37  50  False   True  12     3.0  3369.46   399.88  2907.72  3254.02  3600.32
38  50   True  False   1     5.0  2041.47  1450.47   550.60  1201.33  1253.07
39  50   True  False   5     5.0  3601.30     0.23  3601.13  3601.17  3601.19
40  50   True  False  12     5.0  3601.24     0.14  3601.12  3601.15  3601.21
41  50   True   True   1     5.0  1174.89  1371.42   399.19   461.66   497.82
42  50   True   True   5     5.0  3601.04     0.48  3600.24  3601.06  3601.16
43  50   True   True  12     5.0  3190.04   919.33  1545.48  3601.10  3601.14
44  80  False  False   1     0.0      NaN      NaN      NaN      NaN      NaN
45  80  False  False   8     0.0      NaN      NaN      NaN      NaN      NaN
46  80  False  False  20     0.0      NaN      NaN      NaN      NaN      NaN
47  80  False   True   1     0.0      NaN      NaN      NaN      NaN      NaN
48  80  False   True   8     0.0      NaN      NaN      NaN      NaN      NaN
49  80  False   True  20     0.0      NaN      NaN      NaN      NaN      NaN
50  80   True  False   1     5.0  3602.22     1.54  3600.32  3600.83  3603.02
51  80   True  False   8     5.0  3600.83     0.43  3600.36  3600.57  3600.66
52  80   True  False  20     5.0  3602.38     1.74  3600.37  3600.72  3602.86
53  80   True   True   1     5.0  3603.18     0.45  3602.82  3602.97  3603.03
54  80   True   True   8     5.0  3600.49     0.14  3600.34  3600.35  3600.52
55  80   True   True  20     5.0  3601.93     1.36  3600.40  3600.49  3602.82

    ...  ObjVal_h           ObjVal_h2                                         \
    ...       75%       max     count      mean      std       min       25%
0   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
1   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
2   ...   1062.77   1388.82      30.0    856.13   176.88    548.99    718.40
3   ...   1009.34   1574.93      15.0    874.74   207.39    503.68    790.11
4   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
5   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
6   ...   1037.56   1051.37      10.0    964.63    57.18    895.33    932.25
7   ...    845.37    848.02       5.0    805.62    34.29    747.19    805.76
8   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
9   ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
10  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
11  ...   2027.50   2141.05      15.0   1840.40   720.82   1173.44   1450.67
12  ...   1778.71   1897.41      14.0   1290.37   281.07    927.93   1081.77
13  ...   1694.67   1834.65      13.0    949.85   299.57    728.68    774.43
14  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
15  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
16  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
17  ...   2342.63   2479.43       5.0   2208.89   181.80   1997.37   2100.55
18  ...   1831.74   1857.49       5.0   1776.51    45.93   1724.01   1730.08
19  ...   1438.72   1440.02       5.0   1382.86    27.15   1348.62   1361.19
20  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
21  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
22  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
23  ...   2930.00   3047.97       9.0   2378.38   510.79   1900.69   2055.42
24  ...   2406.02   2565.84      10.0   1607.13   350.66   1369.78   1412.46
25  ...   2394.90   2622.42      13.0   1168.40   113.92   1055.33   1075.72
26  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
27  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
28  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
29  ...   3639.44   3658.61       5.0   3556.02   120.72   3395.81   3462.61
30  ...   2576.07   2604.04       5.0   2942.16   954.94   2447.87   2478.23
31  ...   2083.36   2092.97       5.0   2284.01   498.73   2039.20   2046.23
32  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
33  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
34  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
35  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
36  ...   3704.86   3704.86       1.0   2146.46      NaN   2146.46   2146.46
37  ...   3673.88   3718.54       3.0   1655.26    16.76   1637.12   1647.80
38  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
39  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
40  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
41  ...   6266.54   6581.02       5.0   6237.85   207.90   6043.42   6130.79
42  ...   4103.56   4131.85       5.0   4023.43   124.78   3806.47   4039.18
43  ...   3203.82   3238.44       5.0   3376.98   498.41   3137.28   3151.23
44  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
45  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
46  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
47  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
48  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
49  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
50  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
51  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
52  ...       NaN       NaN       0.0       NaN      NaN       NaN       NaN
53  ...  12360.68  12437.08       5.0  11665.51   678.45  10950.87  11237.22
54  ...   6252.86   6393.06       5.0  10881.83  6580.80   6083.10   6175.12
55  ...   4937.81   5164.29       5.0   4935.43   121.16   4830.78   4886.48


         50%       75%       max
0        NaN       NaN       NaN
1        NaN       NaN       NaN
2     881.69    995.01   1154.84
3     821.85    902.56   1456.44
4        NaN       NaN       NaN
5        NaN       NaN       NaN
6     939.99   1016.04   1039.53
7     818.45    821.62    835.08
8        NaN       NaN       NaN
9        NaN       NaN       NaN
10       NaN       NaN       NaN
11   1491.11   2118.75   4031.81
12   1226.73   1477.25   1783.06
13    806.19    939.00   1690.59
14       NaN       NaN       NaN
15       NaN       NaN       NaN
16       NaN       NaN       NaN
17   2159.13   2343.98   2443.41
18   1798.23   1808.92   1821.29
19   1392.83   1397.13   1414.53
20       NaN       NaN       NaN
21       NaN       NaN       NaN
22       NaN       NaN       NaN
23   2240.09   2494.03   3562.68
24   1500.52   1607.38   2544.44
25   1138.85   1274.41   1415.94
26       NaN       NaN       NaN
27       NaN       NaN       NaN
28       NaN       NaN       NaN
29   3603.71   3644.41   3673.56
30   2559.29   2577.75   4647.65
31   2074.51   2084.59   3175.52
32       NaN       NaN       NaN
33       NaN       NaN       NaN
34       NaN       NaN       NaN
35       NaN       NaN       NaN
36   2146.46   2146.46   2146.46
37   1658.48   1664.33   1670.18
38       NaN       NaN       NaN
39       NaN       NaN       NaN
40       NaN       NaN       NaN
41   6168.22   6265.45   6581.38
42   4059.92   4100.18   4111.41
43   3152.58   3175.61   4268.22
44       NaN       NaN       NaN
45       NaN       NaN       NaN
46       NaN       NaN       NaN
47       NaN       NaN       NaN
48       NaN       NaN       NaN
49       NaN       NaN       NaN
50       NaN       NaN       NaN
51       NaN       NaN       NaN
52       NaN       NaN       NaN
53  11359.68  12344.96  12434.82
54   6237.48  16172.25  19741.19
55   4901.60   4913.69   5144.61

[56 rows x 60 columns]

In [6]:
results

,Instance,n_N,n_B,k,wL,Lazy,A4,Init,Gap,Runtime,NodeCount,ObjVal,Runtime_h,Runtime_h2,ObjVal_h,ObjVal_h2
0,0,10,21,1,50,False,True,False,3.232246e-07,7.657140,438.0,891.585083,NaN,NaN,NaN,NaN
1,0,10,21,1,50,False,True,True,6.773069e-05,4.791690,441.0,891.645247,0.030202,0.910485,968.921425,939.987615
2,0,10,2,1,50,False,False,False,2.355825e-05,6.435400,2029.0,597.495448,NaN,NaN,NaN,NaN
3,0,10,5,1,50,False,False,False,1.361640e-04,3600.016272,3061174.0,616.823655,NaN,NaN,NaN,NaN
4,0,10,10,1,50,False,False,False,1.943356e-03,3600.048682,420251.0,677.839017,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,4,80,33,20,50,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,4,80,67,20,50,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,4,80,13,20,50,False,False,True,NaN,NaN,NaN,NaN,0.331884,NaN,NaN,NaN
598,4,80,33,20,50,False,False,True,NaN,NaN,NaN,NaN,94.288737,NaN,NaN,NaN
599,4,80,67,20,50,False,False,True,NaN,NaN,NaN,NaN,67.218784,NaN,NaN,NaN

In [22]:
results2 = pd.read_csv("resultados/resultados_buenos4.csv").iloc[:,1:]

In [27]:
results1 = results[results['Init'] == True].copy()

for i in range(results1.shape[0]):
    results1.iloc[i]['ObjVal_h'] = results2.iloc[i]['ObjVal_h']
    results1.iloc[i]['Runtime_h'] = results2.iloc[i]['Runtime_h']
    
#     results1.iloc[i]['ObjVal_h2'] = results2.iloc[i]['ObjVal_h2']

results1.to_csv('resultados_buenos5.csv')
tabla_comparadora = results1.groupby(['n_N', 'A4', 'Init', 'k']).describe()[['Runtime', 'ObjVal', 'Gap', 'Runtime_h', 'Runtime_h2', 'ObjVal_h', 'ObjVal_h2']].round(2).reset_index()
tabla_comparadora.to_excel('summary_results_new.xlsx')